div{
    background-color: aquamarine;
    border: 5px solid palevioletred;
    border-radius: 5px;
    padding: 10px;
}
.fama{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}